<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chiyuki's API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app2.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Chiyuki Kitagawa</h1>
          <img src="images/profile.jpg">
           <h2>About me</h2>
           <div class="col-md-9">
           </div>
           </div>
<div id="profile">
  <!-- Handlebars Profile Template -->
  <div class="row">


    <!-- <script id="profile" type="text/x-handlebars-template">
      {{#each profile}} Hi! My name is {{first.Name}} {{last.Name}}.
      <BR> A web developer in {{current_city}}.
      <br> Find more information about me at {{github_link}} or {{twitter_link}}. {{/each}}
    </script> -->


    <h4><a href="/api">Read My API</a></h4>
  </div>
</div>
<BR>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <!-- <form class="form-inline"> -->

      <!-- <div id="music"> -->


        <!-- handlebars template -->
        <!-- <script id="music" type="text/x-handlebars-template">
          {{#each music}} {{artist}}
          <br>
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Artist">
          </div>
          <button type="submit" class="btn btn-default">Add artist</button>
    </form>
    {{/each}}
    </script> -->


    <!-- </div> -->
  </div>
</div>
</div>
</div>
</body>

</html>
